*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header {
    background-color: #333;
    color: white;
    padding: 20px 40px;
    text-align: center;
    height: 20vh;
}

section {
    border-bottom: 2px solid #ccc;
    padding: 20px 0px;
}

#skills {
    border-bottom: none;
}

#skills ul {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));

    gap: 15px;
    list-style: none;
    padding: 0px;
}

#skills ul li{
    background-color: #eeeeee;
    padding: 16px;
    text-align: center;
    border-radius: 4px;
    font-weight: 400;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 40px; 
    text-align: center;
}